### A fast, efficient, and one-of-a-kind infrastructure for an independent financial company.

## The End of a Legacy.
Informa Global Markets has set the standard for independent analysis of financial markets for over 40 years. Subscribed to by the world’s top financial institutions and spanning more than 60 countries, IGM provides real-time analysis 24 hours a day from experts location in North American, Europe, and Asia. Unfortunately, their system’s architecture and user-platform weren’t quite as reputable as the company itself.


## Building for the Future.
Like any long-lasting construction, it was important that the foundation of IGM’s infrastructure be strong. We needed a baseline system that could deliver speed, accuracy and scalability. We needed to start over. Entirely.

We began by eliminating archaic and costly servers, and migrated to a modern cloud-based server solution hosted on Amazon Web Services without any hiccups or worries about security. We introduced open source software to their stack that helped give IGM a more dependable and more accessible platform to utilize as they continued to iterate and grow.

Built in 2000, their platform had performance issues and was becoming outdated, while its backend lacked a modern and efficient design with an overburdened cost structure.

The challenge was simple then: We needed to re-platform their entire
business. Well... maybe that’s not so simple.

Moreover, we created a modern API tailor-fit to IGM’s new platform, which allowed us to develop a new web based application that gave IGM customers greater access to information.

Our work didn’t stop there though. As a financial service provider, IGM literally sends millions of emails monthly. So we designed and developed a high “throughput” infrastructure that ensured important communication would no longer hit bottlenecks, regardless of how big their user-base grew.

Finally, we worked with IGM to design and develop a great user-experience, including drastically updating their web based dashboard and introducing a new way for users to find relevant content.


## Simple Really Is Better.
By removing their old system and introducing a new, custom-built platform, we were able to deliver exactly what IGM needed: a simplified, future-proof overhaul.

The move to a cloud-based solution not only gave them a scalable and safe platform, it drastically reduced server infrastructure costs and licensing by more than $250K per year. The updates also enabled their existing development team to focus on innovation and quick problem solving, rather than refactoring legacy code.

But meeting IGM’s expectations wasn’t the only challenge; we wanted their customers to have a better experience. Our sophisticated yet simple code meant search times increased dramatically, while our UX updates on the customer dashboards bettered ease-of-use, which generated higher engagement rates. And in our experience, an engaged-customer leads to a profitable company.
For IGM, we started from scratch and ended up on top.

#### Ready for us to do great work for you? Drop us a line and let us know how we can help.
