<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>The End of a Legacy.</h2>
      <p>
        Informa Global Markets has set the standard for independent
        analysis of financial markets for over 40 years. Subscribed
        to by the world’s top financial institutions and spanning more
        than 60 countries, IGM provides real-time analysis 24 hours
        a day from experts located in North American, Europe, and Asia.
        Unfortunately, their system’s architecture and user-platform
        weren’t quite as reputable as the company itself.
      </p>
  
      <p>
      </p>
  
      <p>
      </p>
    </div>
  
    <div class="col-md-6">
      <div class="case-study__hero">
        <img src="/assets/images/our-work/tron_legacy.jpg">
      </div>
    </div>
  </div>
</div>


<div class="case-study__ribbon case-study__ribbon--informa">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <img src="/assets/images/our-work/informa_screencap_01.png">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="case-study__hero">
        <img src="/assets/images/our-work/aws.jpg">
      </div>
    </div>
    <div class="col-md-6">
      <h2>Building for the Future.</h2>
      <p>
        Like any long-lasting construction, it was important that the
        foundation of IGM’s infrastructure be strong. We needed a
        baseline system that could deliver speed, accuracy and scalability.
        We needed to start over. Entirely.
      </p>
  
      <p>
        We began by eliminating archaic and costly servers, and
        migrated to a modern cloud-based server solution hosted
        on Amazon Web Services without any hiccups or worries about
        security. We introduced open source software to their stack
        that helped give IGM a more dependable and more accessible
        platform to utilize as they continued to iterate and grow.
      </p>
  
      <p>
        Built in 2000, their platform had performance issues and was
        becoming outdated, while its backend lacked a modern and
        efficient design with an overburdened cost structure.
      </p>
  
      <p>
        The challenge was simple then: We needed to re-platform their
        entire business. Well... maybe that’s not so simple.
      </p>
  
      <p>
        Moreover, we created a modern API tailor-fit to IGM’s new platform,
        which allowed us to develop a new web based application that
        gave IGM customers greater access to information.
      </p>
  
      <p>
        Our work didn’t stop there though. As a financial service provider,
        IGM literally sends millions of emails monthly. So we designed and
        developed a high “throughput” infrastructure that ensured important
        communication would no longer hit bottlenecks, regardless of how
        big their user-base grew.
      </p>
  
      <p>
        Finally, we worked with IGM to design and develop a great
        user-experience, including drastically updating their web based
        dashboard and introducing a new way for users to find relevant content.
      </p>
  
      <p>
      </p>
    </div>
  
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Simple Really Is Better.</h2>
      <p>
By removing their old system and introducing a new, custom-built platform, we were able to deliver exactly what IGM needed: a simplified, future-proof overhaul.
      </p>
  
      <p>
The move to a cloud-based solution not only gave them a scalable and safe platform, it drastically reduced server infrastructure costs and licensing by more than $250K per year. The updates also enabled their existing development team to focus on innovation and quick problem solving, rather than refactoring legacy code.
      </p>
  
      <p>
But meeting IGM’s expectations wasn’t the only challenge; we wanted their customers to have a better experience. Our sophisticated yet simple code meant search times increased dramatically, while our UX updates on the customer dashboards bettered ease-of-use, which generated higher engagement rates. And in our experience, an engaged-customer leads to a profitable company.
For IGM, we started from scratch and ended up on top.
      </p>
      <a class="case-study__hire-us" href="/contact">
        <h4>
          Ready for us to do great work for you? Drop us a line and let 
          us know how we can help.
        </h4>
      </a>
    </div>
  
    <div class="col-md-6">
      <div class="case-study__hero">
        <img src="/assets/images/our-work/informa_screencap_03.png">
      </div>
    </div>
  </div>
</div>
