---
layout: page
title : Blog
header : Post Archive
group: navigation
---
{% include JB/setup %}



<section class="header">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-lg-offset-3 col-lg-6">
      <div class="page-header">
        <h1>
          We’re a nimble, Boston-based team of developers and designers focused on solving problems.
        </h1>

        <a href="/hire-us" class="btn btn-primary hire-us">HIRE US!</a>
      </div>
    </div>
  </div>
</section>

<section class="page-body">

  <div class="title">
    <center>
      <ul class="list-inline">
        <li>OUR WORK</li>
        <li>
        <a href="/blog-home">OUR BLOG</a>
        </li>
      </ul>
    </center>
  </div>
</section>

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}
