<!doctype html>
<html>
  <head>
    <title>Greenfield - We’re a nimble, Boston-based consulting team of developers and designers focused on solving problems.</title>
    <meta name="fragment" content="!">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Mobile app development Boston, iPhone app developer Boston, iPhone app development Boston, app developer Boston, mobile application development Boston, iPhone developer Boston, app developers Boston, iPhone apps development Boston, Boston iPhone apps, iPhone application development Boston, iPhone app developers Boston, mobile app developer Boston, Android app developer Boston, Android developer Boston">
    <link rel="icon" href="assets/img/greenfield.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!--link rel="stylesheet" href="assets/css/greenfield.css" /-->
    <link rel="stylesheet" href="assets/css/greenfield.css"/>
  </head>

  <body>
    <header id="home" class="masthead" style="height: 1200px;">
      <div id="splash">
        <div class="lead-descriptor">
          <div class="logo">
            <h1>greenfield</h1>
          </div>
          <div id="home-slider">
            <div class="star-line">
              <span class="line-pre"></span>
              <span class="icons">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
              </span>
              <span class="line-after"></span>
            </div>
            <ul class="tagline">
              <li>
                <h1>
                  We build stunning applications<br>for the Web and mobile.
                </h1>
              </li>
            </ul>
          </div>
          <div class="buttons">
            <div>
              <a class="btn" href="#contact" data-scroll="#contact">
                Hire Us
              </a>
              <div class="opaque-bg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="show-menu">
        <a href="" rel="tooltip" data-placement="bottom" data-original-title="Show menu" 
          data-scroll="#about">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </header>
      	
    <!-- Begin Navbar -->
    <div id="nav">
      <div class="navbar navbar-default navbar-static">
        <div class="">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="nav navbar-nav">
            <li>
            <div class="logo">
              <h1>greenfield</h1>
            </div>
            </li>
          </ul>
          <div class="navbar-collapse collapse">
            <ul class="nav pull-right navbar-nav">
                <li class="active"><a href="#home" id="home-link">Home</a></li>
                <li><a href="#about" id="about-link">About</a></li>
                <li><a href="#team" id="team-link">Team</a></li>
                <li><a href="#portfolio" id="portfolio-link">Portfolio</a></li>
                <li><a href="http://greenfieldhq.github.io" class="external">Blog</a></li>
                <li><a href="#contact" id="contact-link">Contact</a></li>
            </ul>
          </div>		
        </div>
      </div><!-- /.navbar -->
    </div>
    
    <!-- Begin Main -->
    <div class="container main-content">
      <section id="about">
        <div class="container page">
          <div class="section-title">
            <h1 class="super-title">Hello, we are greenfield.</h1>
            <p class="subheading">
            We are a team of developers and designers located in Boston, Massachusetts.<br />
            We strive to create stunning applications for our clients.
            <!--We’re a nimble,<br>
            Boston-based team of developers and designers<br>
            focused on solving problems.-->
            </p>
          </div>
        </div>
      </section>

      <section class="grey">
        <div class="container page">
          <div class="section-title">
            <h4>What makes a stunning application?</h4>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="feature-box">
                <i class="fa fa-user"></i>
                <h4>USER CENTRIC DESIGN</h4>
                <p>We work with clients to figure out what their customers want 
                and build those features.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="feature-box">
                <i class="fa fa-fighter-jet"></i>
                <h4>SPEED</h4>
                <p>Your users do not want to wait, so we build our apps with 
                performance in mind from the start.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="feature-box">
                <i class="fa fa-cogs"></i>
                <h4>SOLID FOUNDATION</h4>
                <p>Our applications are designed from the ground up to be a solid 
                base for future versions.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="team">
        <div class="container page">
          <div class="section-title">
            <h1 data-animate="fade-in-top"><span class="text-primary">Our</span> Team</h1>
            <hr />
            <p class="subheading">
            Our goal is to build simple, unique, and stunning user experiences.
            </p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="team">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/team/mike.png" alt="Mike Munroe" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                    <a href="https://twitter.com/mikepmunroe" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    </li>
                    <li><a href="https://github.com/mikepmunroe" target="_blank">
                      <i class="fa fa-github"></i>
                    </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Mike Munroe</p>
                <p class="team-type">Partner &amp; Lead Developer</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="team">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/team/ryan.png" alt="Ryan Tremaine" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                    <a href="https://twitter.com/ryantremaine" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    </li>
                    <li><a href="https://github.com/rtremaine" target="_blank">
                      <i class="fa fa-github"></i>
                    </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Ryan Tremaine</p>
                <p class="team-type">Partner &amp; Lead Developer</p>
              </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
              <div class="team">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/team/dave.png" alt="Dave Kroondyk" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                    <a href="https://twitter.com/davekaro" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    </li>
                    <li><a href="https://github.com/davekaro" target="_blank">
                      <i class="fa fa-github"></i>
                    </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Dave Kroondyk</p>
                <p class="team-type">Lead Developer</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="team">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/team/jodi.png" alt="Jodi Detch" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li><a href="https://github.com/jdetch" target="_blank">
                      <i class="fa fa-github"></i>
                    </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Jodi Detch</p>
                <p class="team-type">Developer</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="team">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/team/faizaan.png" alt="Faizaan Shamsi" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                    <a href="https://twitter.com/faizaanshamsi" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    </li>
                    <li><a href="https://github.com/faizaanshamsi" target="_blank">
                      <i class="fa fa-github"></i>
                    </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Faizaan Shamsi</p>
                <p class="team-type">Developer</p>
              </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
              <div class="team">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/team/eric.png" alt="Eric Kelly" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                    <a href="https://twitter.com/heroiceric" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    </li>
                    <li><a href="https://github.com/heroiceric" target="_blank">
                      <i class="fa fa-github"></i>
                    </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Eric Kelly</p>
                <p class="team-type">Lead Developer</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <!-- End Main -->
    <section id="quote" class="parallax">
      <div class="pattern"></div>
      <div class="container">
        <div class="quote white">
          <h2>stun·ning</h2>
          <h4>extremely impressive or attractive</h4>
        </div>
      </div>
    </section>

    <section id="portfolio">
      <div class="page">
        <div class="container">
          <div class="section-title">
            <h1><span class="text-primary">Recent</span> Work</h1>
            <hr/>
          </div>
        </div>
        <div id="portfolio-items" class="portfolio-grid">
          <div class="portfolio-item webdesign video" data-title="TechScene @Boston" data-description="<p>TechScene @Boston is an interactive map on the Boston tech scene to shed light on the geographic density of tech startups in Boston.</p>
            <p>This product pulls data from the Crunchbase API and is built with Ember.JS, Mapbox, Google Maps and Ruby on Rails.</p>
            <p>Media coverage:</p>
            <ul>
              <li><a href='http://betaboston.com/news/2014/03/31/boston-vc-funding-data-startups-innovation-district-cambridge-kendall-square/'>The shift of startups and VC to the City of Boston, by the numbers</a></li>
              <li><a href='http://bostinno.streetwise.co/2014/03/06/techscene-boston-map-of-boston-startups/'>Boston Tech Strong: An Interactive Map of City Startups & Their Impact</a></li>
              <li><a href='http://www.bizjournals.com/boston/blog/startups/2014/03/map-of-boston-startups-reveals.html'>Map of Boston startups reveals similarities to tech scene in Silicon Valley</a></li>
            </ul>" data-largesrc="assets/img/portfolio/boston-techscene-big.jpg" data-link="http://techscene.at/">
            <div class="portfolio-item-inner">
              <div class="portfolio-image">
                <div class="portfolio-overlay">
                  <div class="portfolio-details">
                    <h3>TechSchene @Boston</h3>
                  </div>
                </div>
                <img src="assets/img/portfolio/boston-techscene-small.jpg" alt="Boston TechScene screenshot" />
              </div>
            </div>
          </div>
          <div class="portfolio-item webdesign video" data-title="Sentiment/Risk Dashboard" data-description="<p>The Sentiment/Risk Dashboard is a prototype for a product built for a previous client. The dashboard reports on analysis that measures market sentiment and risk for securities within a portfolio.</p>
            <p>This prototype was built using Ember.JS, D3, Node.JS and Mongo.</p>" data-largesrc="assets/img/portfolio/srdashboard-big.jpg">
            <div class="portfolio-item-inner">
              <div class="portfolio-image">
                <div class="portfolio-overlay">
                  <div class="portfolio-details">
                    <h3>Sentiment/Risk Dashboard</h3>
                  </div>
                </div>
                <img src="assets/img/portfolio/srdashboard-sm.jpg" alt="Sentiment/Rish Dashboard screenshot" />
              </div>
            </div>
          </div>
          <div class="portfolio-item webdesign video" data-title="Freehand App" data-description="<p>Drop dead simple sketching application that focuses on collaboration and social sharing.</p>
            <p>Built native for iPhone and iPad.</p>" data-largesrc="assets/img/portfolio/freehand-big.jpg">
            <div class="portfolio-item-inner">
              <div class="portfolio-image">
                <div class="portfolio-overlay">
                  <div class="portfolio-details">
                    <h3>Freehand App</h3>
                  </div>
                </div>
                <img src="assets/img/portfolio/freehand-sm.jpg" alt="Sentiment/Risk Dashboard screenshot" />
              </div>
            </div>
          </div>
          <div class="portfolio-item webdesign video" data-title="Clypso" data-description="<p>Clypso is an application for managing large software projects.</p><p>Clypso manages your schedules, documents, approvals, features, feedback, blogs, tasks, meetings, time, and costs for all the work you and your clients depend on.</p>
            <p>Built with Ruby on Rails.</p>" data-largesrc="assets/img/portfolio/clypso-big.jpg" data-link="http://www.clypso.com/">
            <div class="portfolio-item-inner">
              <div class="portfolio-image">
                <div class="portfolio-overlay">
                  <div class="portfolio-details">
                    <h3>Clypso</h3>
                  </div>
                </div>
                <img src="assets/img/portfolio/clypso-sm.jpg" alt="Clypso dashboard screenshot" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <noscript>
        <h2>Techscene.at</h2>
        TechScene @Boston is an interactive map on the Boston tech scene to shed light on the geographic density of tech startups in Boston.</p>
        <p>This product pulls data from the Crunchbase API and is built with Ember.JS, Mapbox, Google Maps and Ruby on Rails.</p>
        <p>Media coverage:</p>
        <ul>
          <li><a href='http://betaboston.com/news/2014/03/31/boston-vc-funding-data-startups-innovation-district-cambridge-kendall-square/'>The shift of startups and VC to the City of Boston, by the numbers</a></li>
          <li><a href='http://bostinno.streetwise.co/2014/03/06/techscene-boston-map-of-boston-startups/'>Boston Tech Strong: An Interactive Map of City Startups & Their Impact</a></li>
          <li><a href='http://www.bizjournals.com/boston/blog/startups/2014/03/map-of-boston-startups-reveals.html'>Map of Boston startups reveals similarities to tech scene in Silicon Valley</a></li>
        </ul>
        <a href="http://techscene.at/">Visit Website</a>


        <h2>Sentiment / Risk Dashboard</h2>
        <p>The Sentiment/Risk Dashboard is a prototype for a product built for a previous client. The dashboard reports on analysis that measures market sentiment and risk for securities within a portfolio.</p>
        <p>This prototype was built using Ember.JS, D3, Node.JS and Mongo.</p>

        <h2>Freehand App</h2>
        <p>Drop dead simple sketching application that focuses on collaboration and social sharing.</p>
        <p>Built in native iOS for iPhone and iPad.</p>


        <h2>Clypso</h2>
        <p>Clypso is an application for managing large software projects.</p>
        <p>Clypso manages your schedules, documents, approvals, features, feedback, blogs, tasks, meetings, time, and costs for all the work you and your clients depend on.</p>
        <a href="http://www.clypso.com/">Visit Website</a>
      </noscript>
    </section>


    <section id="contact">
      <div class="container page">
        <div class="section-title">
          <h1>Contact</h1>
          <hr>
          <p class="subheading">
          51 Melcher St, 1st Floor, Boston, MA 02210
          </p>
          <hr />
          <p id="say-hello" class="subheading">
          Are you looking for help with a project or you want to know more about us? Drop us an email! We would love to hear from you.
          </p>
        </div>

        <form id="contact-form" name="contact-form" action="/contacts" method="post">
          <div id="contact-confirm" class="row" style="display:none;">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 section-title">
              <p class="subheading">
              Thanks for contacting us! Your message has been recieved and we will be in contact soon.
              </p>
            </div>
          </div>
          <div id="contact-us" class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
              <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Name" class="form-control input-lg" required />
              </div>
              <div class="form-group">
                <input type="email" id="email" name="email" placeholder="E-mail" class="form-control input-lg" required />
              </div>
              <div class="form-group">
                <textarea id="body" name="body" placeholder="Your message" class="form-control" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
              </div>
            </div>
          </div>
        </form>

      </div>
    </section>
    <section id="location-map">
      <div id="google-map" class="map"></div>
    </section>
    <footer> </footer>
  </body>

  <script src="assets/js/libs/modernizr.custom.min.js"></script>
  <script src="assets/js/libs/jquery.min.js"></script>
  <script src="assets/js/libs/bootstrap.min.js"></script>
  <script src="assets/js/libs/jquery.nav.js"></script>
  <script src="assets/js/libs/jquery.scrollTo.min.js"></script>
  <script src="assets/js/libs/jquery.maximage.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="assets/js/libs/jquery.gmap.min.js"></script>
  <script src="assets/js/libs/jquery.parallax.js"></script>
  <script src="assets/js/greenfield.js"></script>
  <script src="assets/js/libs/portfolio-grid.js"></script>
  <script src="assets/js/libs/jquery.form.min.js"></script>
  <script src="assets/js/libs/jquery.validate.js"></script>

  <script>
    var is_chrome = navigator.userAgent.indexOf('Chrome') > -1;
    var is_explorer = navigator.userAgent.indexOf('MSIE') > -1;
    var is_firefox = navigator.userAgent.indexOf('Firefox') > -1;
    var is_safari = navigator.userAgent.indexOf("Safari") > -1;
    var is_Opera = navigator.userAgent.indexOf("Presto") > -1;
    var isGoogle = navigator.userAgent.toLowerCase().indexOf('googlebot') > 0;
    if ((is_chrome)&&(is_safari)) {is_safari=false;}
  </script>
  <script>
    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
          results = regex.exec(location.href);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function validate(formData, jqForm, options) { 
      return true;
    }

    function success(responseText, statusText, xhr, $form)  { 
      $('#contact-us').hide();
      $('#say-hello').hide();
      $('#contact-confirm').show();
    } 

    function error(responseText, statusText, xhr, $form)  { 
      alert('error');
    } 

    function setupNav() {
      console.log('setupNav');
      var winHeight = $(window).height();
	    var winWidth = $(window).width();

      if (isGoogle) {
        return;
      }

      $('.masthead').css({height: winHeight+'px'});

      $('#nav').affix({
        offset: {
          top: $('header').height()
        }
      });	
    }

    $(document).ready(function() {
      Greenfield.init().initMaps();
      Grid().init();
      setupNav();

      $('body').scrollspy({ target: '.navbar-nav' })

      $('#contact-form').validate(); 

      $('#contact-form').ajaxForm({ 
        beforeSubmit: validate,
        success: success,
        error: error
      }); 
    });

    $(window).resize(function(){
      setupNav();
    });

    $(window).load(function(){
        var anchor = getParameterByName('anchor');
        $('#' + anchor + '-link').click();
    });
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49233464-1', 'greenfieldhq.com');
    ga('send', 'pageview');
  </script>
</html>
