<!doctype html>
<html>
  <head>
    <title>greenfield</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="Mobile app development Boston, iPhone app developer Boston, iPhone app development Boston, app developer Boston, mobile application development Boston, iPhone developer Boston, app developers Boston, iPhone apps development Boston, Boston iPhone apps, iPhone application development Boston, iPhone app developers Boston, mobile app developer Boston, Android app developer Boston, Android developer Boston">
    <link rel="icon" href="assets/img/greenfield.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/maximage.css">
    <link rel="stylesheet" href="assets/css/greenfield.css" />
    <script src="assets/js/libs/modernizr.custom.min.js"></script>
  </head>
  <body data-color="green">
    <script type="text/x-handlebars" data-template-name="application">
      <div id="wrapper">
        <header id="home">
        <div id="maximage" class="maximage-slider mc-cycle" style="height: 275px; max-height: 275px; width: 100%;">
          <div class="mc-image" title="" style="background-image: url(/assets/img/greenfield_low.jpg); position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 100%; height: 275px; bottom: 0px; max-height: 275px;" data-href=""></div>
        </div>

        <!--div class="pattern"></div-->
        <div class="home-wrapper">
          <div class="logo">
            <h1>greenfield</h1>
          </div>
          <div id="home-slider">
            <div class="star-line">
              <span class="line-pre"></span>
              <span class="icons">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
              </span>
              <span class="line-after"></span>
            </div>
            <ul class="">
              <li><h1>We build stunning applications<br>for the Web and mobile.</h1></li>
            </ul>
          </div>
          <div class="buttons">
            <a class="btn" href="#about" data-scroll="#about">Learn More</a>
          </div>
        </div>
        </header>
        <nav>
        <div class="logo">
          <h1>greenfield</h1>
        </div>
        <div class="menu-trigger">
          <a href="#"><i class="fa fa-bars"></i></a>
        </div>
        <ul>
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        </nav>
        <section id="about">
        <div class="container page">
          <div class="section-title">
            <h1 class="super-title" data-animate="fade-in-top">Hello, we are greenfield.<!--<br />It&#39;s nice to meet you.--></h1>
            <p class="subheading" data-animate="fade-in-top">We are a team of developers and designers located in Boston, Massachusetts.<br />We strive to create beautiful applications for our clients.</p>
          </div>
        </div>
        </section>
        <section class="grey">
        <div class="container page">
          <div class="section-title">
            <h4 data-animate="fade-in">What makes a stunning application?</h4>
          </div>
          <div class="row">
            <div data-animate="fade-in-top" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="feature-box">
                <i class="fa fa-user"></i>
                <h4>USER CENTRIC DESIGN</h4>
                <p>We work with clients to figure out what their customers want and build those features.</p>
              </div>
            </div>
            <div data-animate="fade-in-top" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="feature-box">
                <i class="fa fa-fighter-jet"></i>
                <h4>SPEED</h4>
                <p>Your users do not want to wait, so we build our apps with performance in mind from the start.</p>
              </div>
            </div>
            <div data-animate="fade-in-top" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="feature-box">
                <i class="fa fa-cogs"></i>
                <h4>SOLID FOUNDATION</h4>
                <p>Our applications have a base for future development to be built upon.</p>
              </div>
            </div>
          </div>
        </div>
        </section>
        <section id="team">
        <div class="container page">
          <div class="section-title">
            <h1 data-animate="fade-in-top"><span class="text-primary">Our</span> Team</h1>
            <hr data-animate="fade-in" />
            <p data-animate="fade-in-top" class="subheading">
              Our goal is to build simple, unique, and stunning user experiences.
            </p>
          </div>
          <div class="row">
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="team" data-animate="fade-in-top" data-delay="100">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/demo/team_1.jpg" alt="Mike Munroe" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                      <a href="https://twitter.com/mikepmunroe" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li><a href="https://github.com/mikepmunroe" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Mike Munroe</p>
                <p class="team-type">Partner &amp; Lead Developer</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="team" data-animate="fade-in-top" data-delay="200">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/demo/team_3.jpg" alt="Ryan Tremaine" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                      <a href="https://twitter.com/ryantremaine" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li><a href="https://github.com/rtremaine" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Ryan Tremaine</p>
                <p class="team-type">Partner &amp; Lead Developer</p>
              </div>
            </div>
          </div>
        </div>
        </section>
        <section id="quote" class="parallax">
        <div class="pattern"></div>
        <div class="container">
          <div class="quote white" data-animate="fade-in">            
            <h2>Our goal is to build simple, unique, and stunning user experiences.</h2> 
          </div>
        </div>
        </section>
        <section id="contact">
        <div class="container page">
          <div class="section-title">
            <h1 data-animate="fade-in-top" data-delay="none">Contact</h1>
            <hr data-animate="fade-in" data-delay="none" />
            <p data-animate="fade-in-top" class="subheading">
              21 Wormwood St. Suite 608, Boston, MA 02210
            </p>
            <hr data-animate="fade-in" data-delay="none" />
            <p data-animate="fade-in-top" class="subheading">
              You want to say hello, or you want to know more about us? Drop us an email! We&nbsp;will be happy to answer you.
            </p>
          </div>
          <form id="contact-form" name="contact-form" action="#" method="post">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4" data-animate="fade-in-left" data-delay="none">
                <div class="form-group">
                  <input class="form-control input-lg" type="text" name="" placeholder="Name" />
                </div>
                <div class="form-group">
                  <input class="form-control input-lg" type="text" name="" placeholder="E-mail" />
                </div>
                <div class="form-group">
                  <input class="form-control input-lg" type="text" name="" placeholder="Subject" />
                </div>		
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" data-animate="fade-in-right" data-delay="none">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Your message"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
                </div>
              </div>
            </div>
          </form>
        </div>
        </section>
        <section id="location-map">
        <div id="google-map" class="map"></div>
        </section>
        <footer>
        <h3>greenfield</h3>
        </footer>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="users">
      <ul>
        {{#each}}
        <li>{{username}}: {{email}}</li>
        {{/each}}
      </ul>
    </script>

    <script src="assets/js/libs/jquery.min.js"></script>
    <script src="assets/js/libs/bootstrap.min.js"></script>
    <script src="assets/js/libs/waypoints.min.js"></script>
    <script src="assets/js/libs/waypoints.sticky.js"></script>
    <script src="assets/js/libs/jquery.nav.js"></script>
    <script src="assets/js/libs/jquery.scrollTo.min.js"></script>
    <!--script src="assets/js/libs/jquery.bxslider.min.js"></script-->
    <script src="assets/js/libs/jquery.cycle.all.min.js"></script>
    <script src="assets/js/libs/jquery.mixitup.min.js"></script>
    <script src="assets/js/libs/jquery.appear.js"></script>
    <!--script src="assets/js/libs/jquery.maximage.min.js"></script-->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="assets/js/libs/jquery.gmap.min.js"></script>
    <script src="assets/js/libs/jquery.parallax.js"></script>
    <script src="assets/js/greenfield.js"></script>
    <script src="assets/js/libs/portfolio-grid.js"></script>

    <script src="assets/js/libs/handlebars-1.1.2.js"></script>
    <script src="assets/js/libs/ember-1.4.0.js"></script>
    <script src="assets/js/libs/ember-data.js"></script>
    <script src="assets/js/app.js"></script>  
    <script src="assets/js/controllers/application_controller.js"></script>
    <script src="assets/js/router.js"></script>

    <script>
      $(document).ready(function() {
        Spirito.init().initPortfolio().initMaps();
        Grid.init();

        $(window).load(function(){
          $('#loader').fadeOut(1000,function(){ $(this).remove(); });
          Spirito.parallax();
        });
      });

      var is_chrome = navigator.userAgent.indexOf('Chrome') > -1;
      var is_explorer = navigator.userAgent.indexOf('MSIE') > -1;
      var is_firefox = navigator.userAgent.indexOf('Firefox') > -1;
      var is_safari = navigator.userAgent.indexOf("Safari") > -1;
      var is_Opera = navigator.userAgent.indexOf("Presto") > -1;
      if ((is_chrome)&&(is_safari)) {is_safari=false;}
    </script>

  </body>
</html>
