<!doctype html>
<html>
  <head>
    <title>greenfield</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="Mobile app development Boston, iPhone app developer Boston, iPhone app development Boston, app developer Boston, mobile application development Boston, iPhone developer Boston, app developers Boston, iPhone apps development Boston, Boston iPhone apps, iPhone application development Boston, iPhone app developers Boston, mobile app developer Boston, Android app developer Boston, Android developer Boston">
    <link rel="icon" href="assets/img/greenfield.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/maximage.css">
    <link rel="stylesheet" href="assets/css/greenfield.css" />
    <script src="assets/js/libs/modernizr.custom.min.js"></script>
  </head>
  <body data-color="green">
    <script type="text/x-handlebars" data-template-name="application">
      <div id="wrapper">
        <header id="home">
        <div id="maximage" class="maximage-slider mc-cycle" style="height: 275px; max-height: 275px; width: 100%;">
          <div class="mc-image" title="" style="background-image: url(/assets/img/greenfield.jpg); position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1; width: 100%; height: 275px; bottom: 0px; max-height: 275px;" data-href=""></div>
        </div>

        <!--div class="pattern"></div-->
        <div class="home-wrapper">
          <div class="logo">
            <h1>greenfield</h1>
          </div>
          <div id="home-slider">
            <div class="star-line">
              <span class="line-pre"></span>
              <span class="icons">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
              </span>
              <span class="line-after"></span>
            </div>
            <ul class="">
              <li><h1>We build stunning applications<br>for the Web and mobile.</h1></li>
            </ul>
          </div>
          <div class="buttons">
            <a class="btn" href="#about" data-scroll="#about">Learn More</a>
          </div>
        </div>
        </header>
        <nav>
        <div class="logo">
          <h1>greenfield</h1>
        </div>
        <div class="menu-trigger">
          <a href="#"><i class="fa fa-bars"></i></a>
        </div>
        <ul>
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        </nav>
        <section id="about">
        <div class="container page">
          <div class="section-title">
            <h1 class="super-title" data-animate="fade-in-top">Hello, we are greenfield.<br />It&#39;s nice to meet you.</h1>
            <p class="subheading" data-animate="fade-in-top">We are a team of developers and designers located in Boston, Massachusetts.<br />We strive to create beautiful applications for our clients.</p>
          </div>
        </div>
        </section>
        <section class="grey">
        <div class="container page">
          <div class="section-title">
            <h4 data-animate="fade-in">What makes a stunning application?</h4>
          </div>
          <div class="row">
            <div data-animate="fade-in-top" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="feature-box">
                <i class="fa fa-user"></i>
                <h4>USER CENTRIC DESIGN</h4>
                <p>We work with clients to figure out what their customers want and build those features.</p>
              </div>
            </div>
            <div data-animate="fade-in-top" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="feature-box">
                <i class="fa fa-fighter-jet"></i>
                <h4>SPEED</h4>
                <p>Your users do not want to wait, so we build our apps with performance in mind from the start.</p>
              </div>
            </div>
            <div data-animate="fade-in-top" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="feature-box">
                <i class="fa fa-cogs"></i>
                <h4>SOLID FOUNDATION</h4>
                <p>Our applications have a base for future development to be built upon.</p>
              </div>
            </div>
          </div>
        </div>
        </section>
        <section id="team">
        <div class="container page">
          <div class="section-title">
            <h1 data-animate="fade-in-top"><span class="text-primary">Our</span> Team</h1>
            <hr data-animate="fade-in" />
            <p data-animate="fade-in-top" class="subheading">
              Our goal is to build simple, unique, and stunning user experiences.
            </p>
          </div>
          <div class="row">
            <div class="col-md-1 col-lg-1">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
              <div class="team" data-animate="fade-in-top" data-delay="100">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/demo/team_1.jpg" alt="Jennifer Goldberg" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li><a href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Jennifer Goldberg</p>
                <p class="team-type">CEO Founder</p>
                <p>Lorem ipsum Ut est anim et adipisicing Excepteur Duis culpa quis proident esse sunt est nisi.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
              <div class="team" data-animate="fade-in-top" data-delay="200">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/demo/team_3.jpg" alt="Daniel Olson" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li><a href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Daniel Olson</p>
                <p class="team-type">Web Designer</p>
                <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata.</p>
              </div>
            </div>
            <!--div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="team" data-animate="fade-in-top" data-delay="300">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/demo/team_2.jpg" alt="John Doe" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li><a href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">John Doe</p>
                <p class="team-type">Developer</p>
                <p>Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="team" data-animate="fade-in-top" data-delay="400">
                <div class="team-photo">
                  <div class="team-mask"></div>
                  <img src="assets/img/demo/team_4.jpg" alt="Alice Brink" />
                  <div class="team-overlay"></div>
                  <ul class="team-social">
                    <li>
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li><a href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-dribbble"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <p class="team-name">Alice Brink</p>
                <p class="team-type">Graphic Designer</p>
                <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella.</p>
              </div>
            </div-->
          </div>
        </div>
        </section>
        <section id="quote" class="parallax">
        <div class="pattern"></div>
        <div class="container">
          <div class="quote white" data-animate="fade-in">            
            <h2>Our goal is to build simple, unique, and stunning user experiences.</h2> 
          </div>
        </div>
        </section>
        <section id="portfolio">
        <div class="page">
          <div class="container">
            <div class="section-title">
              <h1 data-animate="fade-in-top"><span class="text-primary">Our</span> Work</h1>
              <hr data-animate="fade-in" />
              <p class="subheading" data-animate="fade-in-top">We creating best-looking web design and logotypes. We also offer rebrand your company in&nbsp;way that you never seen before.</p>
            </div>
          </div>
          <ul id="portfolio-filters" class="portfolio-grid-controls" data-animate="fade-in">
            <li class="filter" data-filter="all">
              All
            </li>
            <li class="filter" data-filter="webdesign">
              Web design
            </li>
            <li class="filter" data-filter="logo">
              Logo
            </li>
            <li class="filter" data-filter="video">
              Video
            </li>
            <li class="filter" data-filter="printdesign">
              Print Design
            </li>
          </ul>
          <div id="portfolio-items" class="portfolio-grid" data-animate="fade-in">
            <div class="portfolio-item webdesign video" data-title="Natural Food" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/1_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Natural Food</h3>
                      <h6>Webdesign, Video</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item video all" data-title="Boba Fett" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/13_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Boba Fett</h3>
                      <h6>Video</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/13.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item video all" data-title="The Avengers" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/14_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>The Avengers</h3>
                      <h6>Video</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/14.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item logo all" data-title="Hudddle" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/7_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Hudddle</h3>
                      <h6>Logo</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/7.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item webdesign all" data-title="Coffee UI Kit" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/2_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Coffee UI Kit</h3>
                      <h6>Web Design</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item video all" data-title="The Walking Dead" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/15_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>The Walking Dead</h3>
                      <h6>Video</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/15.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item logo all" data-title="Apple" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/8_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Apple</h3>
                      <h6>Logo</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/8.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item webdesign all" data-title="Hotel Site" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/3_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Hotel Site</h3>
                      <h6>Web Design</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item webdesign all" data-title="Colors UI" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/4_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Colors UI</h3>
                      <h6>Web Design</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item webdesign all" data-title="Open Cinema" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/5_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Open Cinema</h3>
                      <h6>Web Design</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item printdesign video all" data-title="Pictos" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/11_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Pictos</h3>
                      <h6>Print Design, Video</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/11.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item printdesign all" data-title="Standard Issue" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/12_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Standard Issue</h3>
                      <h6>Print Design</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/12.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item webdesign all" data-title="Dark UI Kit" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/6_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Dark UI Kit</h3>
                      <h6>Web Design</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item logo all" data-title="Ark Designs" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/9_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Ark Designs</h3>
                      <h6>Logo</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/9.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="portfolio-item video logo all" data-title="Reflect Architecture" data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-largesrc="assets/img/demo/portfolio/10_big.jpg">
              <div class="portfolio-item-inner">
                <div class="portfolio-image">
                  <div class="portfolio-overlay">
                    <div class="portfolio-details">
                      <h3>Reflect Architecture</h3>
                      <h6>Video, Logo</h6>
                    </div>
                  </div>
                  <img src="assets/img/demo/portfolio/10.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>
        <!--section id="clients" class="parallax" style="background-image: url(assets/img/demo/bg_5.jpg);">
        <div class="pattern"></div>
        <div class="container page">
          <div class="section-title">
            <h1 data-animate="fade-in-top" class="white"><span class="text-primary">Our</span> best clients</h1>
            <hr data-animate="fade-in" />
            <p data-animate="fade-in-top" class="subheading white">
              We worked with some of the largest companies in the world.
            </p>
          </div>
          <div class="clients">
            <div class="row">
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="client" data-animate="fade-in">
                  <a href="#" class="inner">
                    <img src="assets/img/demo/logos/fb.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="client" data-animate="fade-in">
                  <a href="#" class="inner">
                    <img src="assets/img/demo/logos/google.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="client" data-animate="fade-in">
                  <a href="#" class="inner">
                    <img src="assets/img/demo/logos/microsoft.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="client" data-animate="fade-in">
                  <a href="#" class="inner">
                    <img src="assets/img/demo/logos/ubuntu.png" alt="" />
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="client" data-animate="fade-in">
                  <a href="#" class="inner">
                    <img src="assets/img/demo/logos/twitter.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="client" data-animate="fade-in">
                  <a href="#" class="inner">
                    <img src="assets/img/demo/logos/behance.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="client" data-animate="fade-in">
                  <a href="#" class="inner">
                    <img src="assets/img/demo/logos/loreal.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="client" data-animate="fade-in">
                  <a href="#" class="inner">
                    <img src="assets/img/demo/logos/sony.png" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section-->
        <!--section id="blog">
        <div class="container page">
          <div class="section-title">
            <h1 data-animate="fade-in-top"><span class="text-primary">Latest</span> Blog Entries</h1>
            <hr data-animate="fade-in" />
            <p data-animate="fade-in-top" class="subheading">
              Read latest news, tutorial and other useful resources
            </p>
          </div>
          <div class="blog-home">
            <div class="row posts">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <article class="post" data-animate="fade-in-bottom">
                <a href="blog/blog_post.html" class="post-image">
                  <img src="assets/img/demo/portfolio/3.jpg" alt="">
                  <div class="overlay"><i class="fa fa-picture-o"></i></div>
                </a>
                <h3 class="post-title"><a href="blog/blog_post.html">This is a post title</a></h3>
                <p class="post-meta"><span class="meta-date">21 December 2013</span><span class="meta-by"><a href="#">Jonathan</a></span></p>
                <p class="post-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, labore, earum accusamus corrupti odio saepe dicta ipsum dolores! Eveniet, enim consectetur.
                </p>
                <p class="post-read-more"><a href="" class="btn btn-primary btn-sm">Read More</a></p>
                </article>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <article class="post" data-animate="fade-in-bottom">
                <a href="blog/blog_post.html" class="post-image">
                  <img src="assets/img/demo/portfolio/6.jpg" alt="">
                  <div class="overlay"><i class="fa fa-film"></i></div>
                </a>
                <h3 class="post-title"><a href="blog/blog_post.html">This is a post title</a></h3>
                <p class="post-meta"><span class="meta-date">21 December 2013</span><span class="meta-by"><a href="#">Jonathan</a></span></p>
                <p class="post-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi earum sapiente aperiam quia voluptates harum id. Quidem, sit aut nulla con.
                </p>
                <p class="post-read-more"><a href="" class="btn btn-primary btn-sm">Read More</a></p>
                </article>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <article class="post" data-animate="fade-in-bottom">
                <a href="blog/blog_post.html" class="post-image">
                  <img src="assets/img/demo/portfolio/9.jpg" alt="">
                  <div class="overlay"><i class="fa fa-globe"></i></div>
                </a>
                <h3 class="post-title"><a href="blog/blog_post.html">This is a post title</a></h3>
                <p class="post-meta"><span class="meta-date">21 December 2013</span><span class="meta-by"><a href="#">Jonathan</a></span></p>
                <p class="post-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dignissimos ut architecto aliquam doloribus. Magni, sequi aut quos reiciendis consequatur.
                </p>
                <p class="post-read-more"><a href="" class="btn btn-primary btn-sm">Read More</a></p>
                </article>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <article class="post" data-animate="fade-in-bottom">
                <a href="blog/blog_post.html" class="post-image">
                  <img src="assets/img/demo/portfolio/2.jpg" alt="">
                  <div class="overlay"><i class="fa fa-music"></i></div>
                </a>
                <h3 class="post-title"><a href="blog/blog_post.html">This is a post title</a></h3>
                <p class="post-meta"><span class="meta-date">21 December 2013</span><span class="meta-by"><a href="#">Jonathan</a></span></p>
                <p class="post-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel voluptatem facere eligendi similique error consequatur vero quis minima. Laudantium iusto.
                </p>
                <p class="post-read-more"><a href="" class="btn btn-primary btn-sm">Read More</a></p>
                </article>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <article class="post" data-animate="fade-in-bottom">
                <a href="blog/blog_post.html" class="post-image">
                  <img src="assets/img/demo/portfolio/8.jpg" alt="">
                  <div class="overlay"><i class="fa fa-link"></i></div>
                </a>
                <h3 class="post-title"><a href="blog/blog_post.html">This is a post title</a></h3>
                <p class="post-meta"><span class="meta-date">21 December 2013</span><span class="meta-by"><a href="#">Jonathan</a></span></p>
                <p class="post-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, debitis, quidem, illo alias eligendi assumenda excepturi voluptate consectetur.
                </p>
                <p class="post-read-more"><a href="" class="btn btn-primary btn-sm">Read More</a></p>
                </article>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <article class="post" data-animate="fade-in-bottom">
                <a href="blog/blog_post.html" class="post-image">
                  <img src="assets/img/demo/portfolio/11.jpg" alt="">
                  <div class="overlay"><i class="fa fa-camera"></i></div>
                </a>
                <h3 class="post-title"><a href="blog/blog_post.html">This is a post title</a></h3>
                <p class="post-meta"><span class="meta-date">21 December 2013</span><span class="meta-by"><a href="#">Jonathan</a></span></p>
                <p class="post-content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, accusantium, molestias architecto rem consequatur fugit id aliquid nulla eveniet aut.
                </p>
                <p class="post-read-more"><a href="" class="btn btn-primary btn-sm">Read More</a></p>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <br />
                <a data-animate="fade-in" href="#" class="blog-more-posts btn btn-primary btn-lg">Load more posts</a>
              </div>
            </div>
          </div>
        </div>
        </section-->
        <section id="contact">
        <div class="container page">
          <div class="section-title">
            <h1 data-animate="fade-in-top" data-delay="none">Contact</h1>
            <hr data-animate="fade-in" data-delay="none" />
            <p data-animate="fade-in-top" class="subheading">
              You want to say hello, or you want to know more about us? Drop us a call! We&nbsp;will be happy to answer you.
            </p>
          </div>
          <form id="contact-form" name="contact-form" action="#" method="post">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4" data-animate="fade-in-left" data-delay="none">
                <div class="form-group">
                  <input class="form-control input-lg" type="text" name="" placeholder="Name" />
                </div>
                <div class="form-group">
                  <input class="form-control input-lg" type="text" name="" placeholder="E-mail" />
                </div>
                <div class="form-group">
                  <input class="form-control input-lg" type="text" name="" placeholder="Subject" />
                </div>		
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" data-animate="fade-in-right" data-delay="none">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Your message"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" />
                </div>
              </div>
            </div>
          </form>
        </div>
        </section>
        <section id="location-map">
        <div id="google-map" class="map"></div>
        </section>
        <footer>
        <h3>greenfield</h3>
        </footer>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="users">
      <ul>
        {{#each}}
        <li>{{username}}: {{email}}</li>
        {{/each}}
      </ul>
    </script>

    <script src="assets/js/libs/jquery.min.js"></script>
    <script src="assets/js/libs/bootstrap.min.js"></script>
    <script src="assets/js/libs/waypoints.min.js"></script>
    <script src="assets/js/libs/waypoints.sticky.js"></script>
    <script src="assets/js/libs/jquery.nav.js"></script>
    <script src="assets/js/libs/jquery.scrollTo.min.js"></script>
    <!--script src="assets/js/libs/jquery.bxslider.min.js"></script-->
    <script src="assets/js/libs/jquery.cycle.all.min.js"></script>
    <script src="assets/js/libs/jquery.mixitup.min.js"></script>
    <script src="assets/js/libs/jquery.appear.js"></script>
    <!--script src="assets/js/libs/jquery.maximage.min.js"></script-->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="assets/js/libs/jquery.gmap.min.js"></script>
    <script src="assets/js/libs/jquery.parallax.js"></script>
    <script src="assets/js/greenfield.js"></script>
    <script src="assets/js/libs/portfolio-grid.js"></script>

    <script src="assets/js/libs/handlebars-1.1.2.js"></script>
    <script src="assets/js/libs/ember-1.4.0.js"></script>
    <script src="assets/js/libs/ember-data.js"></script>
    <script src="assets/js/app.js"></script>  
    <script src="assets/js/controllers/application_controller.js"></script>
    <script src="assets/js/router.js"></script>

    <script>
      $(document).ready(function() {
        Spirito.init().initPortfolio().initMaps();
        Grid.init();

        $(window).load(function(){
          $('#loader').fadeOut(1000,function(){ $(this).remove(); });
          Spirito.parallax();
        });
      });

      var is_chrome = navigator.userAgent.indexOf('Chrome') > -1;
      var is_explorer = navigator.userAgent.indexOf('MSIE') > -1;
      var is_firefox = navigator.userAgent.indexOf('Firefox') > -1;
      var is_safari = navigator.userAgent.indexOf("Safari") > -1;
      var is_Opera = navigator.userAgent.indexOf("Presto") > -1;
      if ((is_chrome)&&(is_safari)) {is_safari=false;}
    </script>

  </body>
</html>
