<div class="container-fluid">
  <div class="row col-md-12 beginning">
    <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-4">
      <h3>
        We Began With<br>A Simple Idea:
      </h3>
      <p>
      The best applications are the ones that meet business goals.
      <br><br>
      With demand high in the development world, quality can sometimes be low. More and more, web or mobile applications are delivered that are clunky, ugly, or that don’t solve the business challenge they’re meant to fix.
      <br><br>
      And it’s our attention to that last detail that sets us apart.
      <br><br>
      Founded in 2013 by developers Mike Munroe and Ryan Tremaine, we approach our industry with a pragmatic philosophy learned through years of experience in the field. Our focus has always been on building applications that are as practical as they are clean, as future-proof as they are user-friendly. We love what we do, and that’s reflected in the award-winning work we deliver.
      <br><br>
      No gimmicks. No jargon. No BS.
      <br><br>
      We're real people solving real problems.
      </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-6">
      <img src="https://s-media-cache-ak0.pinimg.com/564x/4c/c5/7c/4cc57cb339d5c0339cc3e15234b3ebfd.jpg">
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row approaches">
    <br>
    <center>
      <h3>
        Our Approach
      </h3>
      <p>
      We’re in the business of problem solving. We believe that through collaboration, smart planning and establishing a strong foundational<br>build, we can create a truly remarkable product – scalable, beautiful applications that give users an incredible experience.
      </p>
      <p>
      While no two projects are the same, we follow a standard process that ensures we always deliver a great product.
      </p>
    </center>
    <br>
    <ul class="list-inline col-md-12">
      <li class="col-sm-12 col-md-3 col-lg-3">
        <div class="item item-1 approach">ESTABLISH</div>
        <p>
        We partner with our clients face-to-face to help them identify their challenges, answer initial questions, and then define how we can best help.
        </p>
      </li>
      <li class="col-sm-12 col-md-3 col-lg-3">
        <div class="item item-2 approach">INVESTIGATE</div>
        <p>
        We roll up our sleeves and determine the right architecture needed to build a fast, future-proof product that’s effective and incredibly efficient.
        </p>
      </li>
      <li class="col-sm-12 col-md-3 col-lg-3">
        <div class="item item-3 approach">BUILD</div>
        <p>
        We create a scalable system with light-weight, elegant code that will function for years, or can be easily modified to meet our clients' needs far beyond a project's timeline.
        </p>
      </li>
      <li class="col-sm-12 col-md-3 col-lg-3">
        <div class="item item-4 approach">OPTIMIZE</div>
        <p>
        We believe our work's done when our build solves the problem completely. We keep communication open post-delivery to ensure our clients are seeing the results they're expecting.
        </p>
      </li>
    </ul>
  </div>

  <div class="row working">
    <div class="col-md-3">
      <h3>
        Working At<br>Greenfield:
      </h3>
      <p>
      The best applications are the ones that meet business goals.
      <br><br>
      With demand high in the development world, quality can sometimes be low. More and more, web or mobile applications are delivered that are clunky, ugly, or that  don’t solve the business challenge they’re meant to fix.
      </p>
      <div class="btn btn-primary apply-now">APPLY NOW <i class="fa fa-angle-right"></i></div>
    </div>
  </div>

  <div class="row team">
    <center>
      <h3>
        The Team
      </h3>
      <ul class="list-inline col-md-12">

          <li class="col-xs-6 col-md-offset-1 col-md-2">
            <img class="img-circle" src="http://greenfieldhq.com/assets/img/team/mike.png">
            <p>
            <b>MIKE MUNROE</b><br>
            PARTNER & LEAD<br>DEVELOPER<br>
            <a href="https://twitter.com/mikepmunroe"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/mikepmunroe"><i class="fa fa-github"></i></a>
            </p>
          </li>
          <li class="col-xs-6 col-md-2">
            <img class="img-circle" src="http://greenfieldhq.com/assets/img/team/ryan.png">
            <p>
            <b>RYAN TREMAINE</b><br>
            PARTNER & LEAD<br>DEVELOPER<br>
            <a href="https://twitter.com/ryantremaine"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/rtremaine"><i class="fa fa-github"></i></a>
            </p>
          </li>
          <li class="col-xs-6 col-md-2">
            <img class="img-circle" src="http://greenfieldhq.com/assets/img/team/dave.png">
            <p>
            <b>DAVE KROONDYK</b><br>
            LEAD DEVELOPER<br>
            <a href="https://twitter.com/davekaro"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/davekaro"><i class="fa fa-github"></i></a>
            </p>
          </li>
          <li class="col-xs-6 col-md-2">
            <img class="img-circle" src="http://greenfieldhq.com/assets/img/team/faizaan.png">
            <p>
            <b>FAIZAAN SHAMSI</b><br>
            LEAD DEVELOPER
            <br>
            <a href="https://twitter.com/faizaanshamsi"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/faizaanshamsi"><i class="fa fa-github"></i></a>
            </p>
          </li>
          <li class="col-xs-6 col-md-2">
            <img class="img-circle" src="http://greenfieldhq.com/assets/img/team/eric.png">
            <p>
            <b>ERIC KELLY</b><br>
            LEAD DEVELOPER
            <br>
            <a href="https://twitter.com/heroiceric"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/heroiceric"><i class="fa fa-github"></i></a>
            </p>
          </li>
          <div class="clearfix hidden-xs hidden-sm"></div>
          <li class="col-xs-6 col-md-offset-1 col-md-2">
            <img class="img-circle" src="http://greenfieldhq.com/assets/img/team/vikram.png">
            <p>
            <b>VIKRAM RAMAKRISHNAN</b><br>
            DEVELOPER
            <br>
            <a href="https://twitter.com/lordezar"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/vikram7"><i class="fa fa-github"></i></a>
            </p>
          </li>
          <li class="col-xs-6 col-md-2">
            <img class="img-circle" src="http://greenfieldhq.com/assets/img/team/tom.png">
            <p>
            <b>THOMAS CHEN</b><br>
            DEVELOPER
            <br>
            <a href="https://twitter.com/tchen"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/thomascchen"><i class="fa fa-github"></i></a>
            </p>
          </li>
          <li class="col-xs-6 col-md-2">
            <img class="img-circle" src="http://greenfieldhq.com/assets/img/team/nick.png">
            <p>
            <b>NICK PENDERY</b><br>
            DEVELOPER
            <br>
            <a href="https://github.com/npendery"><i class="fa fa-github"></i></a>
            </p>
          </li>
          <li class="col-xs-6 col-md-2">
            <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAATmAAAAJDk1YzlkODFlLTQzZDEtNDZiZC1iMTYzLWZhZWQwOWRmODI4OA.jpg">
            <p>
            <b>OLIVIA REEVE</b><br>
            DEVELOPER
            <br>
            <a href="https://github.com/oreeve"><i class="fa fa-github"></i></a>
            </p>
          </li>
          <li class="col-xs-6 col-md-2">
            <a href="#" class="join-button btn btn-primary"><p>Join the<br>team.<span><br>APPLY NOW <i class="fa fa-angle-right"></i></span></p><a>
          </li>

      </ul>
    </center>
  </div>
</div>
