<div class="contact-us" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row contact text-center">
            <h2>Hire Greenfield for your next project</h2>
            <h3>51 Melcher St, 1st Floor, Boston, MA 02210<h3>
            <h4>Are you looking for help with a project or you want to know more
              about us?<br>Drop us an email! We would love to hear from you.</h4>
        </div>
      </div>
    </div>
  </div>
</div>

