<script>
$(function() {
  $('#contact-us-form').submit(function(event) {
    event.preventDefault();

    var formEl = $(this);
    var submitButton = $('input[type=submit]', formEl);

    $.ajax({
      type: 'POST',
      url: formEl.prop('action'),
      accept: {
        javascript: 'application/javascript'
      },
      data: formEl.serialize(),
      beforeSend: function() {
        submitButton.prop('disabled', 'disabled');
      }
    }).done(function(data) {
      //submitButton.prop('disabled', false);
      $('#contact-us-form').hide();
      $('.hire-us__success').show();
    });
  });
});
</script>

<div class="hire-us">
  <div class="hire-us__banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row contact text-center">
            <h2>Hire Greenfield for your next project</h2>
            <h3>51 Melcher St, 1st Floor, Boston, MA 02210</h3>
            <h4>
              Are you looking for help with a project or you want to know more
              about us?<br>Drop us an email! We would love to hear from you.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hire-us__form">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="hire-us__success text-center">
            <h3>
              Thanks for reaching out! We'll be in contact shortly!
            </h3>
          </div>

          <form class="form-group"
                accept-charset="UTF-8"
                action="https://formkeep.com/f/6c305a61a698"
                method="POST"
                id="contact-us-form">
            <div class="input-fields">
              <label>Name</label>
              <p>
              <input class="form-control" 
                     type="text"
                     name="Name"
                     placeholder="Your Name"
                     required="true">
              </p>
              <label>Company</label>
              <p>
              <input class="form-control"
                     type="text"
                     name="Company"
                     placeholder="Your Company">
              </p>
              <label>Phone Number</label>
              <p>
              <input class="form-control"
                     type="text"
                     name="Phone Number"
                     placeholder="(555)-867-5309">
              </p>
              <label>Email</label>
              <p>
              <input class="form-control"
                     type="email"
                     name="Email"
                     placeholder="your@email.com"
                     required="true">
              </p>
              <label>Reference</label>
              <p>
              <input class="form-control"
                     type="text"
                     name="Reference"
                     placeholder="How did you hear about Greenfield?">
              </p>
              <label>Message</label>
              <p>
              <textarea class="form-control"
                        name="Message"
                        placeholder="What are your needs? How can we help your business grow?"
                        required="true"></textarea>
              </p>
            </div>
            <div class="text-center">
              <input type="submit"
                     value="SUBMIT"
                     class="form-submit btn btn-primary hire-us">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
