<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ HOME_PATH }}">
      <img class="brand-logo" src="{{ BASE_PATH }}/assets/images/greenfield-logo-600.png"/>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="jb-navbar-collapse">
    <form class="form navbar-right">
      <button type="button" class="btn btn-link">Work & Blog</button>
      <button type="button" class="btn btn-link">About us</button>
    </form>
  </div><!-- /.navbar-collapse -->
</nav>
