<div class="our-work">
  <div class="container">
    <div class="thumbnail-grid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 thumbnail-grid__col">
          <a href="/2016/03/22/case-study-gfsc/" class="thumbnail-grid__item thumbnail-grid__item--informa">
            <div class="thumbnail-grid__splash">
              <img class="thumbnail-grid__img"
                src="/assets/images/our-work/server_room_1024x538.png"
                alt srcset="/assets/images/our-work/server_room_512x269.png 512w, /assets/images/our-work/server_room_768x404.png 768w, /assets/images/our-work/server_room_1024x538.png 1024w"
                sizes="(min-width: 720px) calc(50vw - 25px), calc(100vw - 40px)">
            </div>

            <div class="thumbnail-grid__title">
              <h5>To The Cloud...</h5>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 thumbnail-grid__col">
          <a href="/2016/03/21/case-study-ask-beatrice/" class="thumbnail-grid__item thumbnail-grid__item--ask-beatrice">
            <div class="thumbnail-grid__splash">
              <img class="thumbnail-grid__img"
                src="/assets/images/our-work/ask-beatrice_1024x538.png"
                alt srcset="/assets/images/our-work/ask-beatrice_512x269.png 512w, /assets/images/our-work/ask-beatrice_768x404.png 768w, /assets/images/our-work/ask-beatrice_1024x538.png 1024w"
                sizes="(min-width: 720px) calc(50vw - 25px), calc(100vw - 40px)">
            </div>

            <div class="thumbnail-grid__title">
              <h5>Ask Beatrice</h5>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 thumbnail-grid__col">
          <a href="/2016/03/23/case-study-techscene/" class="thumbnail-grid__item thumbnail-grid__item--techscene">
            <div class="thumbnail-grid__splash">
              <img class="thumbnail-grid__img"
                src="/assets/images/our-work/techscene_hero_1024x538.png"
                alt srcset="/assets/images/our-work/techscene_hero_512x269.png 512w, /assets/images/our-work/techscene_hero_768x404.png 768w, /assets/images/our-work/techscene_hero_1024x538.png 1024w"
                sizes="(min-width: 720px) calc(50vw - 25px), calc(100vw - 40px)">
            </div>

            <div class="thumbnail-grid__title">
              <h5>Techscene</h5>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 thumbnail-grid__col">
          <a href="/hire" class="thumbnail-grid__item thumbnail-grid__item--hire-us">
            <div class="thumbnail-grid__splash">
              <div class="thumbnail-grid__overlay">
                <div>
                  <h2>Thinking about your next project?</h2>
                </div>
              </div>
              <img class="thumbnail-grid__img"
                src="/assets/images/our-work/g-hero-grn.png"
                alt srcset="/assets/images/our-work/g-hero-grn_512x269.png 512w, /assets/images/our-work/g-hero-grn_768x404.png 768w, /assets/images/our-work/g-hero-grn_1024x538.png 1024w"
                sizes="(min-width: 720px) calc(50vw - 25px), calc(100vw - 40px)">
            </div>
            <div class="thumbnail-grid__title">
              <h5>Hire Us!</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
