<div class="our-work">
  <div class="container-fluid">
    <div class="title">
      <center>
        <h2>Our Work</h2>
      </center>
    </div>

    <div class="thumbnail-grid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 thumbnail-grid__col">
          <a href="www.google.com" class="thumbnail-grid__item thumbnail-grid__item--informa">
            <div class="thumbnail-grid__splash">
              <img class="thumbnail-grid__img" src="/assets/images/our-work/photo-tube-273095.jpg">
            </div>

            <div class="thumbnail-grid__title">
              <h5>Informa Global Markets</h5>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 thumbnail-grid__col">
          <a href="www.google.com" class="thumbnail-grid__item thumbnail-grid__item--ask-beatrice">
            <div class="thumbnail-grid__splash">
              <img class="thumbnail-grid__img" src="/assets/images/our-work/ask-beatrice-2000px.png">
            </div>

            <div class="thumbnail-grid__title">
              <h5>Ask Beatrice</h5>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 thumbnail-grid__col">
          <a href="www.google.com" class="thumbnail-grid__item thumbnail-grid__item--techscene">
            <div class="thumbnail-grid__splash">
              <img class="thumbnail-grid__img" src="/assets/images/our-work/techscene.png">
            </div>

            <div class="thumbnail-grid__title">
              <h5>Techscene</h5>
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 thumbnail-grid__col">
          <a href="/contact" class="thumbnail-grid__item thumbnail-grid__item--hire-us">
            <div class="thumbnail-grid__splash">
              <img class="thumbnail-grid__img" src="/assets/images/our-work/g-hero-grn2.png">
            </div>

            <div class="thumbnail-grid__overlay">
              <span>
              <h2>Thinking about your next project?</h2>
              </span>
            </div>

            <div class="thumbnail-grid__title">
              <h5>Hire Us!</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
