<section class="page-body our-work">
  <div class="container-fluid">
    <div class="title">
      <center>
        <h2>Our Work</h2>
      </center>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 text-center">
        <div class="thumbnail informa">
          <img src="/assets/images/our-work/photo-tube-273095.jpg">
          <div class="title">
            <span class="title-caption">
              <h5>Informa Global Markets</h5>
            </span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 text-center">
        <div class="thumbnail ask-beatrice">
          <img src="/assets/images/our-work/ask-beatrice-2000px.png">
          <div class="title">
            <span class="title-caption">
              <h5>Ask Beatrice</h5>
            </span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 text-center">
        <div class="thumbnail techscene">
          <img src="/assets/images/our-work/techscene.png">
          <div class="title">
            <span class="title-caption">
              <h5>Techscene</h5>
            </span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 text-center">
        <div class="thumbnail">
          <div class="title">
            <span class="title-caption">
              How about your next project?
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
