<div class="sign-up">
  <div class="sign-up-header">
    <h2>Want to get our top Greenfield posts</h2>
    <h2>emailed directly to you?</h2>
  </div>
  <div class="sign-up-form">
    <form action="//greenfieldhq.us10.list-manage.com/subscribe/post?u=6ec8103b9559f40657e7d7bab&amp;id=77fc680278" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="row">
        <div class="form-group col-lg-6 col-md-12">
          <input type="email" value="" name="EMAIL" class="form-control input-lg" placeholder="Your Email" required>
        </div>

        <div class="form-group col-lg-6 col-md-12">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_6ec8103b9559f40657e7d7bab_77fc680278" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe!" name="subscribe" class="form-submit btn btn-primary btn-block btn-lg"></div>
        </div>
      </div>
    </form>
  </div>
</div>
