<script>
$(function() {
  $('#contact-us-form').submit(function(event) {
    event.preventDefault();

    var formEl = $(this);
    var submitButton = $('input[type=submit]', formEl);

    $.ajax({
      type: 'POST',
      url: formEl.prop('action'),
      accept: {
        javascript: 'application/javascript'
      },
      data: formEl.serialize(),
      beforeSend: function() {
        submitButton.prop('disabled', 'disabled');
      }
    }).done(function(data) {
      //submitButton.prop('disabled', false);
      $('#contact-us-form').hide();
      $('.hire-us__success').show();
    });
  });
});
</script>

<div class="careers">
  <div class="careers__banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2>Work with us at Greenfield</h2>
            <h4>
              Greenfield is a small software consulting firm based in Boston,
              MA, founded in April of 2014 by two co-founders that have been
              working together in the industry since 1999.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="careers__form">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3>Some of the Benefits</h3>
          <p>We offer the following benefits:</p>
          <ul>
            <li>9 paid holidays</li><br>
            <li>3 weeks paid vacation</li><br>
            <li>Year end paid break</li><br>
            <li>Competitive medical and dental benefits fully funded by Greenfield</li><br>
            <li>We bill clients weekly for a 4 day work week, so Fridays are devoted to personal skill development and exploration</li><br>
            <li>Budget for new equipment provided</li>
          </ul>
        </div>
        <div class="col-md-offset-1 col-md-6">
          <h3>Apply Now</h3>

          <div class="hire-us__success text-center">
            <h3>
              Thanks for reaching out! We'll be in contact shortly!
            </h3>
          </div>

          <form class="form-group"
                accept-charset="UTF-8"
                action="https://formkeep.com/f/6c305a61a698"
                method="POST"
                id="contact-us-form">
            <div class="input-fields">
              <label>Name</label>
              <p>
              <input class="form-control"
                     type="text"
                     name="Name"
                     placeholder="Your Name"
                     required="true">
              </p>
              <label>Phone Number</label>
              <p>
              <input class="form-control"
                     type="text"
                     name="Phone Number"
                     placeholder="(555)-867-5309">
              </p>
              <label>Email</label>
              <p>
              <input class="form-control"
                     type="email"
                     name="Email"
                     placeholder="your@email.com"
                     required="true"></p>
              <label>Message</label>
              <p>
              <textarea class="form-control"
                        name="Message"
                        placeholder="Tell us about yourself. Include links to any relevant work, such as GitHub, Dribbble, LinkedIn, personal websites, etc." required="true"></textarea></p>
            </div>
            <div class="text-center">
              <input type="submit"
                     value="SUBMIT"
                     class="form-submit btn btn-primary hire-us">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
