---
---

@import "fonts";

$brand-primary: #6EC829;
$white-base: #FFFFFF;
$gray-base: #414042;
$gray-light: lighten($gray-base, 40%);
$gray-lighter: #E6E7E8;
$font-primary: 'Celias';
$font-primary-bold: 'Celias Bold';
$font-secondary-italic: 'Proxima Nova Italic';
$font-bold-italic: 'Proxima Nova SemiBold Italic';

body {
  background-color: $gray-lighter;
}

h1, h2, h3, h4, h5 {
  color: $gray-base;
  font-family: $font-primary-bold;;
}

section.header {
  background-color: $white-base;
  width: 100%;
  padding-bottom: 30px;

  h1, h2 {
    font-family: $font-secondary-italic;
  }
}

section.page-body {
  background-color: $gray-lighter;

  div.title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 22px;
    font-family: $font-primary-bold;
    li {
      padding-right: 30px;
      padding-left: 30px;
    }
    li.inactive a {
      color: $gray-light;
    }
  }
}

.btn {
  border-radius: 8px;
}

.btn-primary {
  background-color: $brand-primary;
  background-image: none;
  border: none;
  font-family: $font-secondary-italic;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: darken( $brand-primary, 5% );
  background-position: 0 -15px;
}

.btn:focus {
  outline: 0px;
}

.active-page {
  text-decoration: underline;
}

.hire-us {
  padding: 7px 15px 5px 15px;
  font-size: 20px;
}

.navbar-right {
  .btn-link {
    color: $gray-base;
  }
}

.navbar-brand {
  .brand-logo {
    max-width: 240px;
    max-height: 66px;
  }
}

.navbar {
  margin: 0px;
  button {
    font-family: $font-primary-bold;;
    font-size: 22px;
    margin-top: 18px;
  }
  a:hover, a:focus {
    text-decoration: none;
  }
}

.navbar-default {
  background-color: $white-base;
  border: none;
  border-radius: 0px;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 20px 0px 20px;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $brand-primary;
  height: 6px;
  width: 30px;
  border-radius: 5px;
}

.nav-justified {
  text-align: center;
  .hire-us {
    margin-top: 20px;
  }
}

.page-header {
  text-align: center;
  border: none;
  background-color: $white-base;
}

.post-display img {
  width: 415px;
  height: 250px;
  text-align: center;
  overflow: auto;
}

.post-display {
  padding-right: 20%;
  width: 415px;
  overflow: auto;
}

.post-title {
  background-color: black;
  color: white;
  height: 50px;
  width: 415px;
  overflow: auto;
}

.page-body {
  padding: 0 100px;
  text-align: center;
}

.post-row {
  margin: 30px 0;
}

.thumbnail {
  .caption {
    text-align: center;
    background-color: $gray-base;
    color: $white-base;
    h4, h5 {
      color: $white-base;
    }
  }
}

.thumbnail.hire-us {
  width: 100%;
  height: 256px;
  background-color: $gray-base;
  font-family: $font-secondary-italic;
  text-align: center;
  color: $white-base;
  position: relative;

  span {
    position: absolute;
    top: 15px;
    margin-bottom: 0px;
    text-align: center;
    left: 120px;
    right: 120px;
  }

  .caption {
    position: absolute;
    bottom: 0px;
    background-color: $brand-primary;
    width: 100%;
  }

  .caption h4, span h3 {
    font-family: $font-bold-italic;
    color: $white-base;
  }
  .caption h4 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.thumbnail, .img-thumbnail {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}

.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: $white-base;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.thumbnail__image {
  overflow: hidden;
  max-height: 200px;
  min-height: 242px;

  img {
    max-height: 400px;
  }
}

h3 {
  font-family: $font-secondary-italic;
}

.beginning {
  margin-top: 30px;
  margin-bottom: 80px;
}

.beginning img {
  margin-top: 20px;
  width: 100%;
  max-height: 400px;
}

.approaches .item {
  color: #FFF;
  background-color: $brand-primary;
  font-family: $font-primary-bold;
  font-size: 12px;
}

.approach {
  border-radius: 8px;
  text-align: center;
  font-family: $font-primary-bold;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.item-1 {
  background-color: lighten($brand-primary, 17%) !important;
}

.item-2 {
  background-color: lighten($brand-primary, 10%) !important;
}

.item-3 {
  background-color: lighten($brand-primary, 5%) !important;
}

.working {
  padding-top: 120px;
  padding-bottom: 100px;
  background-image: url(http://www.friendsoffortpointchannel.org/wp-content/uploads/2014/01/General_2-1024x600@2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.working p, .working h3 {
  margin-left: 30px;
  color: #FFF;
}

.apply-now {
  margin-left: 30px;
  color: black;
  background-color: #FFF;
}

.team h3 {
  margin-bottom: 60px;
}

.team img {
  height: 150px;
}

.team p {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team .join-the-team {
  border-radius: 50%;
}

.join-button {
  background-color: $gray-base;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding-top: 30px;
}

.join-button p {
  font-size: 21px;
  font-family: $font-secondary-italic;
  color: $gray-lighter;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -10px;
}

.join-button span {
  color: $gray-lighter;
  font-size: 13px;
}

.team a {
  font-size: 20px;
  color: $gray-base;
}

.team a:hover {
  color: $brand-primary;
}

.fa-angle-right {
  padding-left: 5px;
}

#footer {
  height: 30px;
  background-color: transparent;
  text-align: center;
  font-family: 'Celias Bold Italic' !important;
  font-size: 16px;
  div {
    padding: 5px;
  }
  a {
    color: $gray-base;
  }
  a:hover {
    color: $brand-primary;
  }
}

.formRow {
  background-color: $gray-light;
  margin-bottom: 40px;
}

form {
  margin-top: 50px;
}

.form-group {
  padding-bottom: 15px;
}

.form-group input {
  border-radius: 0px;
  border: none;
  letter-spacing: 1px;
  height: 40px;
  text-align: center;
}

.form-group textarea {
  height: 110px;
  text-align: center;
  border: none;
  border-radius: 0px;
  letter-spacing: 1px;
}

::-webkit-input-placeholder {
  font-family: $font-primary !important;
  color: black !important;
}
:-moz-placeholder {
  font-family: $font-primary !important;
  color: black !important;
}
::-moz-placeholder {
  font-family: $font-primary !important;
  color: black !important;
}
:-ms-input-placeholder {
  font-family: $font-primary !important;
  color: black !important;
}

form .form-submit {
  background-color: $brand-primary;
  font-family: $font-primary-bold;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 15px;
}

.contact h2 {
  text-align: center;
  padding-top: 20px;
  font-family: $font-bold-italic;
}

.contact h3, h4 {
  text-align: center;
  font-family: $font-secondary-italic
}
