---
---

@import "fonts";

$brand-primary: #6EC829;
$white-base: #FFFFFF;
$gray-base: #414042;
$gray-light: lighten($gray-base, 40%);
$gray-lighter: #E6E7E8;
$gray-lightest: #F4F4F4;
$font-primary: 'Celias';
$font-primary-italic: 'Celias Italic';
$font-primary-medium: 'Celias Medium';
$font-primary-bold: 'Celias Bold';
$font-primary-bold-italic: 'Celias Bold Italic';
$font-secondary: 'Proxima Nova Regular';
$font-secondary-italic: 'Proxima Nova Italic';
$font-bold-italic: 'Proxima Nova SemiBold Italic';

body {
  // background-color: #F4F4F4;
  font-family: $font-secondary;
  font-size: 17px;
  line-height: 27px;
}

h1, h2 {
  color: $gray-base;
  font-family: $font-primary-bold;;
}

h3, h4, h5 {
  color: $gray-base;
  font-family: $font-primary;
}

.btn {
  border-radius: 8px;
}

.btn-primary {
  background-color: $brand-primary;
  background-image: none;
  border: none;
  font-family: $font-secondary-italic;
}

.btn:focus {
  outline: 0px;
}

.active-page.btn-link {
  //text-decoration: underline;
  //color: $brand-primary;
}

.hire-us {
  padding: 7px 15px 5px 15px;
  font-size: 20px;

  -webkit-transition-duration: .20s;
  transition-duration: .20s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.btn-link {
  color: $gray-base;
  -webkit-transition-duration: .20s;
  transition-duration: .20s;
  -webkit-transition-property: color, text-decoration;
  transition-property: color, text-decoration;

  &:hover {
    text-decoration: none;
    color: $gray-base;
  }
}

a {
  &:hover {
    color: $gray-base;
  }
}

.navbar-brand {
  .brand-logo {
    max-width: 240px;
    max-height: 52px;
  }
}

.navbar {
  margin: 0px;
  button {
    font-family: $font-primary-bold;;
    font-size: 18px;
    margin-top: 18px;
  }
  a:hover, a:focus {
    text-decoration: none;
  }
}

.navbar-default {
  background-color: $white-base;
  border: none;
  border-radius: 0px;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 20px 0px 20px;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $brand-primary;
  height: 6px;
  width: 30px;
  border-radius: 5px;
}

.nav-justified {
  text-align: center;
  .hire-us {
    margin-top: 20px;
  }
}

.page-header {
  text-align: center;
  border: none;
  background-color: $white-base;
  margin: 20px 0 20px;
}

.post-title {
  text-align: center;
  margin: 10px 0 20px;
}

// TODO Namespace these
.post-display img {
  width: 415px;
  height: 250px;
  text-align: center;
  overflow: auto;
}

.post-display {
  padding-right: 20%;
  width: 415px;
  overflow: auto;
}

.post-row {
  margin: 30px 0;
}

section.page-body.our-work {
  margin: 15px;
}

.thumbnail {

  height: 350px;
  border-radius: 0px;
  border: 0px;

  img {
    object-fit: cover;
    object-fit: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px;
  }

  .title {
    bottom: 0px;
    position: absolute;
    text-align: center;
    transition: all .5s cubic-bezier(0.165,.84,.44,1);
    width: 100%;
    z-index: 1;

    span.title-caption {
      display: inline-block;
      padding: 5px 10px 0px 11px;

      h5 {
        text-transform: uppercase;
        color: $white-base;
        font-size: 15px;
      }
    }
  }

  &.informa {
    // http://photo.khmer-tube.com/wp-content/uploads/2013/03/photo-tube-273095.jpg
    span.title-caption {
      background-color: #3E6DAB;
    }
  }

  &.ask-beatrice {
    span.title-caption {
      background-color: #118EAE;
    }
  }

  &.techscene {
    span.title-caption {
      background-color: #db3c45;
    }
  }
}

.next-project {
  background-color: $gray-lightest;
}


section {
  margin-top: 60px;
  margin-bottom: 30px;
}

section.header {
  background-color: $white-base;
  width: 100%;
  margin-top: 0px;
  padding-bottom: 0px;
}

section.page-body {
  div.title {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

section.blog-post {
  margin-top: 30px;

  div.content {
    margin-top: 15px;
    margin-top: 15px;
    font-family: $font-secondary;

    p {
      margin: 0 0 30px;
    }
  }

  img {
    width: 100%;
  }

  h1, h2, h3 {
    margin-top: 45px;
  }

  .pagination-list li {
    margin-left: 40px;
    margin-right: 40px;
    a {
      color: $gray-base;
      -webkit-transition-duration: .20s;
      transition-duration: .20s;
      -webkit-transition-property: color;
      transition-property: color;
    }
    a:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  @media screen and (max-width: 1199px) {
    .pagination-icon a {
      font-size: 2em;
    }
  }

  @media screen and (min-width: 1200px) {
    .pagination-icon a {
      font-size: 4em;
    }
  }
}

.author {
  padding-bottom: 0px;
  .date {
    font-family: $font-secondary-italic;
    color: $gray-light;
    padding-left: 6px;
  }
}

section.beginning {
  margin-top: 60px;
  margin-bottom: 30px;

  img {
    margin-top: 20px;
    width: 100%;
  }
}

section.approaches {
  .item {
    color: $white-base;
    background-color: $brand-primary;
    font-family: $font-primary-bold;
    font-size: 12px;
  }
  .item-1 {
    background-color: lighten($brand-primary, 17%) !important;
  }

  .item-2 {
    background-color: lighten($brand-primary, 10%) !important;
  }

  .item-3 {
    background-color: lighten($brand-primary, 5%) !important;
  }

  .approach {
    border-radius: 8px;
    text-align: center;
    font-family: $font-primary-bold;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
}

section.working {
  padding-top: 120px;
  padding-bottom: 100px;
  background-image: url(http://www.friendsoffortpointchannel.org/wp-content/uploads/2014/01/General_2-1024x600@2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  p, h2 {
    margin-left: 30px;
    color: $white-base;
  }

  .apply-now {
    margin-left: 30px;
    color: black;
    background-color: $white-base;
  }

  .fa-angle-right {
    padding-left: 5px;
  }
}

section.team {
  img.img-circle {
    height: 150px;
  }

  .join-the-team {
    border-radius: 50%;
  }

  li {
    vertical-align: top;

    p {
      padding-top: 14px;
    }
  }

  .join-button {
    background-color: $gray-base;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding-top: 30px;

    p {
      font-size: 21px;
      font-family: $font-secondary-italic;
      color: $gray-lighter;
      font-weight: bold;
      padding-top: 0px;
    }

    span {
      color: $gray-lighter;
      font-size: 13px;
    }
  }

  a {
    color: $gray-base;
    &:hover {
      color: $brand-primary;
    }
  }

  .list-inline>li,
  .list-inline>li:first-child {
    padding: 10px 18px 10px 18px;
  }
}

section.blog-home {
  margin-top: 0px;
  padding-top: 40px;
  border-top: solid 1px $gray-lighter;
  background-color: $white-base;

  .blog-entry {
    margin-bottom: 40px;
    h1, h2, h3 {
      margin-bottom: 0px;
    }
  }
}

section.contact-us {
  background-color: $gray-lightest;
  padding-top: 25px;
  padding-bottom: 25px;

  form {
    margin-top: 50px;
  }

  .form-group {
    padding-bottom: 15px;
  }

  .form-group input {
    border-radius: 0px;
    border: none;
    letter-spacing: 1px;
    height: 40px;
  }

  .form-group textarea {
    height: 110px;
    border: none;
    border-radius: 0px;
    letter-spacing: 1px;
  }

  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    font-family: $font-primary !important;
    color: black !important;
  }
}

#footer {
  height: 30px;
  background-color: transparent;
  text-align: center;
  font-family: 'Celias Bold Italic' !important;
  font-size: 16px;
  a {
    color: $gray-base;
    padding: 0 10px 0 10px;
  }
}

.contact {
  h3, h4 {
    text-align: center;
    font-family: $font-secondary-italic;
    line-height: 27px;
  }
}
